//text colors

$main-color-green: #6FBC9A;

$main-color-black: #303136;

$helper-color-middlegray: #C9CDE0;

$helper-color-darkgray: #6F849C;

$helper-color-lightgray: #EFF1F9;

$helper-color-orange: #EEB969;



