mixin set-number
    div.set-number(title)
        button(type="button").set-number__minus –
        input(type='number' name='count').set-number__input
        button(type="button").set-number__plus +