include ../control-elements/radio-button/radio-button
include ../control-elements/set-number/set-number
include calc-input/calc-input
include calc-input-rate/calc-input-rate
include calc-set/calc-set
include ../control-elements/question-info/question-info


mixin product-calculator
    section.product-calculator
        div.product-calculator__wrapper
            h1.page-title Калькулятор маржинальности товара при продаже на маркетплейсах
            h1.page-title__mobile Калькулятор товара
            div.product-calculator-block
                div.product-calculator-block__data
                    div.product-calculator-block__el
                        +calc-input('Розничная цена, руб.')
                    div.product-calculator-block__el
                        +calc-input('Себестоимость, руб.')
                    div.product-calculator-block__el
                        +calc-input-rate('Упаковка, хранение, руб', 'Товар у вас, теперь его надо понятно, красиво и удобно упаковать и где-то хранить')
                    div.product-calculator-block__el
                        +calc-set('Комиссия маркетплейса', 'Средний процент — 15. У каждой площадки свои комиссии на разные категории товаров')
                    div.product-calculator-block__el
                        +calc-set('Скидка на маркетплейсе', 'Покупатели любят скидки. Маркетплейсы проводят акции, для которых нужны скидки. Закладывайте возможность проводить акции в цену товара')
                    div.product-calculator-block__el
                        +calc-set('Реклама на маркетплейсе', 'Для повышения продаж товары нужно рекламировать на площадке, чтобы покупатели выбирали вас среди множества предложений')
                    div.product-calculator-block__delivery
                        p.product-calculator__sub-title Покатушки
                        div.product-calculator-block__wrap
                            div.product-calculator-block__content
                                p.product-calculator__sub-title--middlegray Доставка со склада
                                div.product-calculator-block__content-store
                                    +radio-btn('33 руб./Wildberries', 'wildberries', 'delivery',
                                        'wildberries', ['radio-label', 'radio-input'], 'checked')
                                    +radio-btn('35 руб./Ozon', 'ozon', 'delivery',
                                        'ozon', ['radio-label', 'radio-input'], '', '(мелкий товар)')
                                    +radio-btn('75 руб./Ozon', 'ozon-big', 'delivery',
                                        'ozon-big', ['radio-label', 'radio-input'], '', '(товар побольше)')
                            div.product-calculator-block__content
                                p.product-calculator__sub-title--middlegray 1шт – продажа с 1го раза, 3шт – со 2го, 5шт – проблемы с товаром
                                div.product-calculator-block__content-store
                                    +radio-btn('1 раз', 'one', 'delivery-number',
                                        'one', ['radio-label', 'radio-input'], 'checked')
                                    +radio-btn('3 раза', 'three', 'delivery-number',
                                        'three', ['radio-label', 'radio-input'])
                                    +radio-btn('5 раз', 'five', 'delivery-number',
                                        'five', ['radio-label', 'radio-input'])
                    div.product-calculator-block__popso
                        div.product-calculator-block__header
                            p.product-calculator__sub-title Ведение и поддержка от POPSO
                            +question-info('Укажите процент указанный для артикула в качестве "СПП" - если "СПП" не используется укажите "0')
                        div.product-calculator-block__support
                            div.product-calculator-block__support-radio
                                +radio-btn('8%', 'eight', 'popso-rate',
                                    'eight', ['radio-label', 'radio-input'], 'checked')
                                span.product-calculator-block__support-radio-label / с продаж после вычета комиссий маркетплейса
                            div.product-calculator-block__support-radio
                                +radio-btn('0%', 'zero', 'popso-rate',
                                    'zero', ['radio-label', 'radio-input'])
                                span.product-calculator-block__support-radio-label / сами, всё сами :)
                div.product-calculator-block-rezult
                    p.product-calculator-block-rezult__title Результаты расчёта
                    div.product-calculator-block-rezult__info
                        div.product-calculator-block-rezult__el
                            div.product-calculator-block-rezult__el-title Цена товара
                            span.product-calculator-block-rezult__el-info 2500 &#8381
                        div.product-calculator-block-rezult__el
                            div.product-calculator-block-rezult__el-title Комиссия маркетплейса
                            span.product-calculator-block-rezult__el-info 638 &#8381
                        div.product-calculator-block-rezult__tab
                            div.product-calculator-block-rezult__tab-list
                                div.product-calculator-block-rezult__tab-list-title Товар
                                span.product-calculator-block-rezult__tab-list-info 1000 &#8381
                            div.product-calculator-block-rezult__tab-list
                                div.product-calculator-block-rezult__tab-list-title Реклама
                                span.product-calculator-block-rezult__tab-list-info 190 &#8381
                            div.product-calculator-block-rezult__tab-list
                                div.product-calculator-block-rezult__tab-list-title Логистика
                                span.product-calculator-block-rezult__tab-list-info 810 &#8381
                        div.product-calculator-block-rezult__el
                            div.product-calculator-block-rezult__el-title Перечисление на ваш счёт
                            span.product-calculator-block-rezult__el-info 1487 &#8381
                        div.product-calculator-block-rezult__el
                            div.product-calculator-block-rezult__el-title Налоги и комиссия POPSO
                            span.product-calculator-block-rezult__el-info 208 &#8381
                        div.product-calculator-block-rezult__tab
                            div.product-calculator-block-rezult__tab-list
                                div.product-calculator-block-rezult__tab-list-title Налоги
                                span.product-calculator-block-rezult__tab-list-info 89 &#8381
                            div.product-calculator-block-rezult__tab-list
                                div.product-calculator-block-rezult__tab-list-title Спасибо popso.ru
                                span.product-calculator-block-rezult__tab-list-info 119 &#8381
                        p.product-calculator-block-rezult__sub-title Вы заработали
                        div.product-calculator-block-rezult__el
                            div.product-calculator-block-rezult__el-title С одной продажи
                            span.product-calculator-block-rezult__el-info 1279 &#8381
                        div.product-calculator-block-rezult__el-thin
                            div.product-calculator-block-rezult__el-thin-title Себестоимость
                            span.product-calculator-block-rezult__el-thin-info -645 &#8381
                        div.product-calculator-block-rezult__el-bold
                            div.product-calculator-block-rezult__el-bold-title Чистыми, с одного товара
                            span.product-calculator-block-rezult__el-bold-info 634 &#8381
