.product-calculator {
  width: 80%;
  height: auto;

  display: flex;
  align-self: flex-end;

  background-color: $helper-color-middlegray;

  & .page-title {
    display: none;

    @include above($tablet) {
      display: block;
    }
  }

  & .page-title__mobile {
    width: 100%;
    height: auto;

    font-size: 2rem;
    line-height: 3.2rem;
    font-weight: 500;
    letter-spacing: 0;
    color: $main-color-black;
    text-align: left;

    @include above($tablet) {
      display: none;
    }
  }

  &__wrapper {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;

    padding: 2rem 1.6rem;

    margin-left: 0;

    @include above($tablet) {
      padding: 2rem 3rem;
      margin-left: 0.6rem;
    }
  }

  &__block {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    margin-top: 1.6rem;

    @include above($desktop) {
      flex-direction: row;
    }

    &-data {
      width: 100%;
      height: auto;

      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      background-color: #FFFFFF;
      padding: 3rem 1.6rem;

      border-radius: 1rem;

      @include above($desktop) {
        padding: 3.2rem 3.9rem;
      }

      @include above($desktop) {
        width: 60.4%;
      }

      &-el {
        width: 100%;

        margin-bottom: 3.2rem;

        @include above($tablet) {
          width: 20rem;
        }

        & .title__middlegray {
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 2rem;
          letter-spacing: 0;
          text-align: left;

          color: $helper-color-darkgray;

          @include above($tablet) {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.6rem;
            letter-spacing: 0;
            text-align: left;

            color: $helper-color-middlegray;
          }
        }
      }

      &-delivery {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;

        &-wrap {
          display: flex;
          justify-content: space-between;
          flex-direction: column;

          @include above($tablet) {
            flex-direction: row;
          }
        }

        &-block {
          width: 100%;
          height: auto;

          display: flex;
          flex-direction: column;

          &:last-of-type {
            margin-top: 3.2rem;

            @include above($tablet) {
              margin-top: 0;
            }
          }
        }

        &-store {
          display: flex;
          flex-direction: column;

          margin-top: 1rem;

          & .radio__block:not(:last-of-type) {
            margin-bottom: 2rem;
          }
        }
      }

      &-popso {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;

        margin-top: 3.6rem;

        &-header {
          display: flex;

          & .title__darkgray {
            width: 20rem;

            @include above($phone) {
              width: auto;
              margin-right: 1rem;
            }
          }
        }

        &-support {
          display: flex;
          flex-direction: column;

          margin-top: 1.2rem;

          & .radio__block {
            width: 7rem;
          }

          &-radio {
            display: flex;

            &:not(:last-of-type) {
              margin-bottom: 2rem;
            }

            span {
              width: 16.4rem;

              display: flex;
              align-items: center;

              font-size: 1.2rem;
              line-height: 1.6rem;
              font-style: normal;
              letter-spacing: 0;
              color: $helper-color-darkgray;
              text-align: left;

              @include above($mobile) {
                width: auto;
              }
            }
          }
        }
      }
    }

    &-rezult {
      width: 100%;
      height: auto;

      display: flex;
      flex-direction: column;
      align-self: flex-start;

      background: $main-color-green;

      border-radius: 1rem;

      padding: 2rem 2.2rem 2.4rem 2.2rem;
      margin-top: 2.4rem;

      @include above($tablet) {
        width: 60%;
        padding: 2.2rem 3.8rem 3.8rem 3.8rem;
      }

      @include above($desktop) {
        width: 37.5%;
        margin-top: 0;
      }

      h2 {
        width: 100%;
        height: auto;

        font-size: 2rem;
        line-height: 3.2rem;
        font-weight: 500;
        letter-spacing: 0;
        text-align: left;

        color: #FFFFFF;

      }

      &-info {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        margin-top: 1.2rem;

        h3 {
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 2rem;
          letter-spacing: 0;
          text-align: left;

          color: #FFFFFF;

          margin-bottom: 0.8rem;

        }

        &-el {
          width: 100%;
          height: auto;

          display: flex;
          justify-content: space-between;

          &:not(:last-of-type) {
            margin-bottom: 1.1rem;
          }

          &-bold {
            width: 100%;
            height: auto;

            display: flex;
            justify-content: space-between;
            align-items: center;

            div {
              width: 15rem;

              font-size: 1.4rem;
              font-weight: 700;
              line-height: 2rem;
              letter-spacing: 0;
              text-align: left;

              color: #FFFFFF;

              @include above($phone) {
                width: 16rem;
              }

              @include above($mobile) {
                width: auto;
              }
            }

            span {
              font-size: 2rem;
              font-weight: 700;
              line-height: 3.2rem;
              letter-spacing: 0;
              text-align: right;

              color: #FFFFFF;
            }
          }

          &-thin {
            width: 100%;
            height: auto;

            display: flex;
            justify-content: space-between;

            margin-top: -1.1rem;
            margin-bottom: 0.7rem;

            div {
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.6rem;
              letter-spacing: 0;
              text-align: left;

              color: #FFFFFF;
            }

            span {
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.6rem;
              letter-spacing: 0;
              text-align: right;

              color: #FFFFFF;

            }
          }

          div {
            width: 13.6rem;

            font-size: 1.4rem;
            font-weight: 500;
            line-height: 2rem;
            letter-spacing: 0;
            text-align: left;

            color: #FFFFFF;

            @include above($phone) {
              width: 17rem;
            }
            @include above($mobile) {
              width: auto;
            }
          }

          span {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 2rem;
            letter-spacing: 0;
            text-align: right;

            color: #FFFFFF;

          }

          &-tab {
            width: 100%;
            height: auto;

            display: flex;
            flex-direction: column;

            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 1rem;

            padding: 0.9rem 1.6rem 1rem 1.6rem;
            margin-bottom: 1.1rem;

            &-list {
              width: 100%;
              height: auto;

              display: flex;
              justify-content: space-between;

              &:not(:last-of-type) {
                margin-bottom: 0.4rem;
              }

              div {
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.6rem;
                letter-spacing: 0;
                text-align: left;

                color: #FFFFFF;
              }

              span {
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.6rem;
                letter-spacing: 0;
                text-align: right;

                color: #FFFFFF;

              }
            }
          }
        }
      }
    }
  }

  & .set-number {
    margin-top: 1rem;
  }
}

.calc-input {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;

  input {
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 400;
    letter-spacing: 0;

    color: $helper-color-darkgray;
    text-align: left;

    cursor: pointer;

    margin-top: 1rem;
    padding-bottom: 0.9rem;
    padding-left: 1rem;
    padding-right: 1rem;

    border: none;
    border-bottom: 0.1rem solid $helper-color-lightgray;
    border-radius: 0;

    transition: border ease 0.25s;

    &::placeholder {
      color: $helper-color-middlegray;
    }

    &:hover {
      border-bottom: 0.1rem solid $helper-color-darkgray;
    }
  }
}

.calc-set {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;

  &__title {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: 0;

    color: $helper-color-darkgray;
    text-align: left;
  }

  &__header {
    display: flex;

    @include above($tablet) {
     justify-content: space-between;
    }
  }
}