.product-calculator {
  width: 80%;
  height: auto;

  display: flex;
  align-self: center;

  background-color: $helper-color-middlegray;

  & .page-title {
    display: none;

    @include above($tablet) {
      display: block;
    }
  }

  &__sub-title {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: 0;

    color: $helper-color-darkgray;
    text-align: left;
  }

  &__sub-title--middlegray {
    display: flex;

    width: auto;
    min-height: 3.2rem;
    height: auto;

    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 500;
    letter-spacing: 0;

    color: $helper-color-middlegray;
    text-align: left;

    &:first-of-type {
      align-items: flex-end;
    }
  }

  & .page-title__mobile {
    width: 100%;
    height: auto;

    font-size: 2rem;
    line-height: 3.2rem;
    font-weight: 500;
    letter-spacing: 0;
    color: $main-color-black;
    text-align: left;

    @include above($tablet) {
      display: none;
    }
  }

  &__wrapper {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;

    padding: 2rem 1.6rem;

    margin-left: 0;

    @include above($tablet) {
      padding: 2rem 3rem;
      margin-left: 0.6rem;
    }
  }

  &-block {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    margin-top: 1.6rem;

    @include above($desktop) {
      flex-direction: row;
    }

    &__data {
      width: 100%;
      height: auto;

      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      background-color: #FFFFFF;
      padding: 3rem 1.6rem;

      border-radius: 1rem;

      @include above($desktop) {
        padding: 3.2rem 3.9rem;
      }
    }

    &__delivery {
      width: 100%;
      height: auto;

      display: flex;
      flex-direction: column;
    }

    &__wrap {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      @include above($tablet) {
        flex-direction: row;
      }
    }

    &__content {
      width: 100%;
      height: auto;

      display: flex;
      flex-direction: column;

      &:last-of-type {
        margin-top: 3.2rem;

        @include above($tablet) {
          margin-top: 0;
        }
      }

      &-store {
        display: flex;
        flex-direction: column;

        margin-top: 1rem;

        & .radio__block:not(:last-of-type) {
          margin-bottom: 2rem;
        }
      }
    }

    &__popso {
      width: 100%;
      height: auto;

      display: flex;
      flex-direction: column;

      margin-top: 3.6rem;
    }

    &__support {
      display: flex;
      flex-direction: column;

      margin-top: 1.2rem;

      & .radio__block {
        width: 7rem;
      }

      &-radio {
        display: flex;

        &:not(:last-of-type) {
          margin-bottom: 2rem;
        }

        &-label {
          width: 16.4rem;

          display: flex;
          align-items: center;

          font-size: 1.2rem;
          line-height: 1.6rem;
          font-style: normal;
          letter-spacing: 0;
          color: $helper-color-darkgray;
          text-align: left;

          @include above($mobile) {
            width: auto;
          }
        }
      }
    }

    &__header {
      display: flex;

      & .product-calculator__sub-title {
        width: 20rem;

        @include above($phone) {
          width: auto;
          margin-right: 1rem;
        }
      }
    }

    &__el {
      width: 100%;

      margin-bottom: 3.2rem;

      @include above($tablet) {
        width: 20rem;
      }

      & .product-calculator__sub-title--middlegray {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 2rem;
        letter-spacing: 0;
        text-align: left;

        color: $helper-color-darkgray;

        @include above($tablet) {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.6rem;
          letter-spacing: 0;
          text-align: left;

          color: $helper-color-middlegray;
        }
      }
    }

    &-rezult {
      width: 100%;
      height: auto;

      display: flex;
      flex-direction: column;
      align-self: flex-start;

      background: $main-color-green;

      border-radius: 1rem;

      padding: 2rem 2.2rem 2.4rem 2.2rem;
      margin-top: 2.4rem;

      @include above($tablet) {
        width: 50rem;
        padding: 2.2rem 3.8rem 3.8rem 3.8rem;
      }

      @include above($desktop) {
        margin-top: 0;
        margin-left: 4rem;
      }

      &__title {
        width: 100%;
        height: auto;

        font-size: 2rem;
        line-height: 3.2rem;
        font-weight: 500;
        letter-spacing: 0;
        text-align: left;

        color: #FFFFFF;

      }

      &__sub-title {
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 2rem;
        letter-spacing: 0;
        text-align: left;

        color: #FFFFFF;

        margin-bottom: 0.8rem;

      }

      &__info {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        margin-top: 1.2rem;
      }

      &__el {
        width: 100%;
        height: auto;

        display: flex;
        justify-content: space-between;

        &:not(:last-of-type) {
          margin-bottom: 1.1rem;
        }

        &-bold {
          width: 100%;
          height: auto;

          display: flex;
          justify-content: space-between;
          align-items: center;

          &-title {
            width: 15rem;

            font-size: 1.4rem;
            font-weight: 700;
            line-height: 2rem;
            letter-spacing: 0;
            text-align: left;

            color: #FFFFFF;

            @include above($phone) {
              width: 16rem;
            }

            @include above($mobile) {
              width: auto;
            }
          }

          &-info {
            font-size: 2rem;
            font-weight: 700;
            line-height: 3.2rem;
            letter-spacing: 0;
            text-align: right;

            color: #FFFFFF;
          }
        }

        &-thin {
          width: 100%;
          height: auto;

          display: flex;
          justify-content: space-between;

          margin-top: -1.1rem;
          margin-bottom: 0.7rem;

          &-title {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.6rem;
            letter-spacing: 0;
            text-align: left;

            color: #FFFFFF;
          }

          &-info {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.6rem;
            letter-spacing: 0;
            text-align: right;

            color: #FFFFFF;

          }
        }

        &-title {
          width: 13.6rem;

          font-size: 1.4rem;
          font-weight: 500;
          line-height: 2rem;
          letter-spacing: 0;
          text-align: left;

          color: #FFFFFF;

          @include above($phone) {
            width: 17rem;
          }
          @include above($mobile) {
            width: auto;
          }
        }

        &-info {
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 2rem;
          letter-spacing: 0;
          text-align: right;

          color: #FFFFFF;

        }
      }

      &__tab {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;

        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 1rem;

        padding: 0.9rem 1.6rem 1rem 1.6rem;
        margin-bottom: 1.1rem;

        &-list {
          width: 100%;
          height: auto;

          display: flex;
          justify-content: space-between;

          &:not(:last-of-type) {
            margin-bottom: 0.4rem;
          }

          &-title {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.6rem;
            letter-spacing: 0;
            text-align: left;

            color: #FFFFFF;
          }

          &-info {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.6rem;
            letter-spacing: 0;
            text-align: right;

            color: #FFFFFF;

          }
        }
      }
    }
  }

  & .set-number {
    margin-top: 1rem;
  }
}