mixin calc-set(title, text)
    div.calc-set
        div.calc-set__header
            h2.title__middlegray= title
            span.question-info ?
                span.question-info__popup
                    span.question-info__popup-text= text
        +set-number